{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br>

<form id='myForm' method='post'>

</br>


<label>Nom du projet</label> </br>


<input  onkeyup = 'initErrorMsg()' id='projectName' name = 'projectName'> </br>


<label>Type de projet</label> </br>

<select name="totalLimit" id="projectForm">
  <option>Type de projet</option>
  <option value="ponctual">Ponctuel (10 heures)</option>
  <option value="midTerm">Moyen terme (50 heures)</option>
  <option value="longTerm">Long terme (100 heures)</option>
</select>

</br>


<label>Durée à réaliser chaque jour</label> </br>

<select name="dailyLimit" id="projectForm">
  <option>Compte journalier</option>
  <option value="dailyLimit1">10 min</option>
  <option value="dailyLimit2">30 min</option>
  <option value="dailyLimit3">1 h</option>
</select>

</br>
</br>

<input onclick = 'checkProjectName(event)' type = 'submit' class = 'btn btn-success' name='newProject' value='Créer projet'/>

<input type='hidden' name='myNewProject'>

</form>


<div id='errorMsg' style='color:red'></div>



{% endblock %}


   {% block javascripts %}


   var projectName = document.getElementById('projectName');

   var myForm = document.getElementById('myForm');

   var errorMsg = document.getElementById('errorMsg');


      function initErrorMsg(){

        errorMsg.innerHTML = '';

      }


       function checkProjectName(event){

                       event.preventDefault();

         xrq = new XMLHttpRequest();


         xrq.onload = function(){

           var validName = JSON.parse(this.responseText).validName;

           if(validName == true){
             console.log("validName"); 

             myForm.submit();



           } else if(validName == false){



             errorMsg.innerHTML = 'vous avez déjà attribué ce nom à un autre projet';

           }

         }

         xrq.open('POST', '{{ path("checkProjectPath") }}', true);

         xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

         xrq.send('projectName=' + projectName.value);
        
       }

   
   {% endblock %}
