{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<style>

body{

  color: green;

  font-size: 15px;
}

@font-face {
  font-family: Retro;
  src: url({{asset('css/fonts/retro.ttf')}}) format('opentype');
}

body{

  color: green;
}

input{

  border: none;

  border-radius: 6px;

  outline: none;

  background: black;

  color: green;


}

select{

  background: black;

  border: none;

  color: green;
}
select option{

  border : none;

  border-radius: 10px;
  
}
#bgDiv{
  width: 100vw; 
  height: 90vh; 
  display: flex; 
  justify-content: center;

  align-items: center;
  

  overflow: hidden;
}
#computerPng{

  position: absolute;
  
  margin-right: auto;

  margin-top: 2%;

  height: auto;
  
  width: 60%;

  z-index: 1;
 
}

#myForm{

  z-index: 2;

  margin-top: -5%;

  height: 60%;

  width: 20%;


}
</style>

<br>


  <div id='bgDiv'>
     
 
 <img id='computerPng' src='{{ asset("images/panel.png") }}'>

  

<form id='myForm' method='post'>

</br>


<label style='font-size: 10px'>Statut: connecté</label> </br>

<label  style='font-size: 6px'>Accès au formulaire restreint bY92 Accès au formulaire restreint bY9Accès au formulaire restreint bY9 Accès au formulaire restreint bY9 Accès au formulaire restreint bY9</br>Accès au formulaire restreint bY9</br>Accès au formulaire restreint bY9Accès au formulaire restreint bY9Accès au formulaire restreint bY9Accès au formulaire restreint bY9Accès au formulaire restreint bY9......</label></br>



<input  onkeyup = 'initErrorMsg()' id='projectName' name = 'projectName'> </br>



<select name="totalLimit" id="projectForm">
  <option>Type de projet</option>
  <option value="test"> (10 min, test)</option>
  <option value="ponctual">Ponctuel (10 heures)</option>
  <option value="midTerm">Moyen terme (50 heures)</option>
  <option value="longTerm">Long terme (100 heures)</option>
</select>

</br>



<select name="dailyLimit" id="projectForm">
  <option>Durée à réaliser chaque jour</option>
  <option value="dailyLimit0">2 min (test)</option>
  <option value="dailyLimit1">10 min</option>
  <option value="dailyLimit2">30 min</option>
  <option value="dailyLimit3">1 h</option>
</select>

</br>


<select name="substanceColor">
  <option>Couleur de ta substance</option>
  <option value="green">vert  </option>
  <option value="red">rouge</option>
  <option value="blue">bleu</option>
</select>

</br>
</br>




<input style='font-size: 14px' onclick = 'checkProjectName(event)' type = 'submit' name='newProject' value='ENTRER'/>

<input type='hidden' name='myNewProject'>

<div id='errorMsg'></div>


</form>





</div>

{% endblock %}


   {% block javascripts %}


   var projectName = document.getElementById('projectName');

   var myForm = document.getElementById('myForm');

   var errorMsg = document.getElementById('errorMsg');


      function initErrorMsg(){

        errorMsg.innerHTML = '';

      }


       function checkProjectName(event){

                       event.preventDefault();

         xrq = new XMLHttpRequest();


         xrq.onload = function(){

           var validName = JSON.parse(this.responseText).validName;

           if(validName == true){
             console.log("validName"); 

             myForm.submit();



           } else if(validName == false){



             errorMsg.innerHTML = 'vous avez déjà attribué ce nom à un autre projet';

           }

         }

         xrq.open('POST', '{{ path("checkProjectPath") }}', true);

         xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

         xrq.send('projectName=' + projectName.value);
        
       }

   
   {% endblock %}
