{% extends 'base.html.twig' %}

{% block title %}All my projects{% endblock %}

{% block body %}
<style>


#backgroundDiv{

   height: 100%;

   width: 100%;

   display: flex;

   flex-direction: column;
}


#projectDiv{
  
  width: 100%;

  display: flex;
  
  justify-content: space-between;

  border-bottom: solid 1px;
  
  border-top : solid 1px;


}

#projectDiv div{
  
  height: 100%;

  width: 33.33%;

  display: flex;

  align-items: center;

  padding-right: 25px;

  padding-left: 15px;


}


#titleDiv{

  justify-content: flex-start;

}


#seeProjectDiv{
    
      justify-content: center;
}


#deleteProjectDiv{
    
      justify-content: flex-end;

}


#middleIcon{

   border-radius: 20px;

   height: 27px;

   width: 27px;

   display:flex;

   justify-content: center;

   background: none;

   border: none;
}

#deleteButton{


   background: none;

   border: none;

   color: white;

   outline: none;
}

</style>



<h1>Liste de tes projets en cours</h1>


<div id='backgroundDiv'>







{%for project in projects %}


<div id='projectDiv'>

<div id='titleDiv'>

{{ project.projectName}} </br>

</div>
  
<div id='seeProjectDiv'>
   <a href = '{{ path("showProjectPath", { "projectId" : project.id  })}}'><button id='middleIcon' class="btn btn-info"><i class="fas fa-door-open"></i></button></a>
</div>

<div id='deleteProjectDiv' >
   <a href = '{{ path("deleteProjectPath", { "projectId" : project.id , "redirect" : 'allProjects' })}}'><button id='deleteButton'><i class="fas fa-trash"></i></button></a>
</div>

</div>

{%endfor%}


 </br>

 </br>





</div>

{% endblock %}



{%block javascripts %}
  

     console.log('ok');


{%endblock%}