{% extends 'base.html.twig' %}

{% block title %}All my projects{% endblock %}

{% block body %}
<style>


#backgroundDiv{

   background: red;

   height: 100vh;

   width: 100vw;

   display: flex;

   flex-direction: column;
}


#projectDiv{
  
  width: 100%;

  background: purple;

  display: flex;
  
  justify-content: space-between;
}
</style>



<h1>Liste de tes projets en cours</h1>


<div id='backgroundDiv'>







{%for project in projects %}


<div id='projectDiv'>


{{ project.projectName}} </br>


   <a href = '{{ path("showProjectPath", { "projectId" : project.id  })}}'><button>Voir projet</button></a>

   <a href = '{{ path("deleteProjectPath", { "projectId" : project.id , "redirect" : 'allProjects' })}}'><button>Supprimer projet</button></a>


</div>

{%endfor%}


 </br>

 </br>



              <a href='{{ path("newProjectPath") }}'><button>Créer un projet</button></a>


</div>

{% endblock %}



{%block javascripts %}
  

     console.log('ok');


{%endblock%}