{% extends 'base.html.twig' %}

{% block title %}All my projects{% endblock %}

{% block body %}
<style>

</style>

{%for project in projects %}


{{ project.projectName}} </br>


   <a href = '{{ path("showProjectPath", { "projectId" : project.id  })}}'><button>Voir projet</button></a>

   <a href = '{{ path("deleteProjectPath", { "projectId" : project.id  })}}'><button>Supprimer projet</button></a>



{%endfor%}




{% endblock %}



{%block javascripts %}
  
  <script>

     console.log('ok');

  </script>

{%endblock%}