{% extends 'base.html.twig' %}

      
     {% block stylesheets %}
        
       
       <style>
  
       #headerDiv{

         margin-top: 15vh;

       }


       #headerDiv{

         margin-top: 15vh;
        padding: 20px;

         font-size: 23px;

         display: flex;

         flex-direction: column;

         height: 20vh;


       }
      
    

       h1{

         font-size: 25x;
       }




       #scientistImg{

          position: absolute;

          bottom:20px;

          left: 31vw;

          width: auto;

          height: 35vh;

          z-index: 2;
       }
       
       #roundImg{

          position: absolute;

          top: 40vh;

          left: 32vw;

          height: 60vh;

         width: auto;

         z-index: 1;

       }


       

   
  @media all and (max-width: 500px){
        
       #headerDiv{

         margin-top: 14vh;

        padding: 20px;

         font-size: 23px;

         display: flex;

         flex-direction: column;

         height: 20vh;


       }
       
   
       #scientistImg{

          position: absolute;

          bottom:20px;

          left: 25vw;

          width: auto;

          height: 35vh;

          z-index: 2;
       }
       
       #roundImg{

          position: absolute;

          top: 44vh;

          left: 0vw;

          width: 94vw;

           height: auto;

         z-index: 1;

       }

       .headerText{

         font-size: 20px;
       }

       




  }
      


       </style>
          
          
     {% endblock %}


     {% block body %}
       
     <div id='headerDiv'>
         
        <div>
          <h1 class ='headerText'>Bienvenue!!!</h1>
        </div>
       
         <div>

           <h1 class = 'headerText' >Je m'appelle Arkana, je suis en charge de te présenter brièvement ton nouveau laboratoire. </h1>
          
        </div>

     


        <div>

               <a href='{{ path("demoStep1Path") }}'><button class='btn btn-success' style='outline: none'>Commencer</button></a>

        </div>

     </div>
     

      <img id='scientistImg' src='{{ asset("images/arkana.png") }}'>

      <img id='roundImg' src='{{ asset("images/mycircle.png") }}'>
      
   
      




  

     {% endblock %}



        {% block javascripts %}


         var colorForm = document.getElementById('colorForm');


         window.onload = function(){





       }







        {% endblock %}

     