{% extends 'base.html.twig' %}

      
     {% block stylesheets %}
        
       
       <style>

       #scientistImg{

          position: absolute;

          bottom:20px;

          left: 25vw;

          width: auto;

          height: 35vh;

          z-index: 2;
       }
       
       #roundImg{

          position: absolute;

          top: 40vh;

          left: 27vw;

          height: 60vh;

         width: auto;

         z-index: 1;

       }
      


       </style>
          
          
     {% endblock %}


     {% block body %}
      

       <h1>Bienvenue!!!</h1>


      <h1>Je m'appelle Arkana, je suis en charge de te présenter brièvement ton nouveau laboratoire. </h1>
      
      En bref, cette appli te permet de créer un ensemble de projets, te permettant de traquer ton temps. 
      </h1>

     

      <img id='scientistImg' src='{{ asset("images/arkana.png") }}'>

      <img id='roundImg' src='{{ asset("images/mycircle.png") }}'>
      
   
      


       <a href='{{ path("newDemoProjectPath") }}'><button class='btn btn-success' style='outline: none'>Commencer</button></a>


  

     {% endblock %}



        {% block javascripts %}


         var colorForm = document.getElementById('colorForm');


         window.onload = function(){





       }







        {% endblock %}

     