{% extends 'base.html.twig' %}


 {% block stylesheets %}


 <style>



     #bgDiv{

         height: 90vh;

         width: 100vw;

         display: flex;

         justify-content: flex-end;

     }


      #formDiv{


          height: 60%;
          
          width: 40%;

          display: flex;

          justify-content: center;

          align-items: center;


          margin-right: 5vw;


          margin-top: 20vh;






      }


      #myForm{


          display: flex;

          flex-direction: column;

          align-items: center;

          justify-content: center;


          width: 80%;


      }

      
      #myForm div{

          height: 80px;


      }

      
      
      #myForm div input{

          width: 500px;

          height: 50px;

          border-radius: 25px;

          border: none;          


      }





 </style>


 {% endblock %}



{% block body %}


 <div id='bgDiv'>

    <div id='formDiv'>

     <form id="myForm" action= "{{ path('loginPath') }}" method='post'>

         <div class = 'form-group'>
             <input onkeyup="initErrorMsg()" id='userMail' type='text' placeholder='username' required name='_username'>
          </div>

          
         <div class = 'form-group'>
             <input onkeyup="initErrorMsg()" id='userPass' type='password' placeholder='password' required name='_password'>
          </div>



          <div class = 'form-group'>
               <button type = 'submit' class = 'btn btn-success' onclick='checkUser(event)'>Accéder à votre labo</button>
          </div>



    </form>



    <div id="errorMsg" style='color:red' ></div>

  </div>
</div>


{% endblock %}



        {% block javascripts %}

        var myForm = document.getElementById("myForm");

        var userMail = document.getElementById("userMail");

        var userPass = document.getElementById("userPass");

        var errorMsg = document.getElementById("errorMsg");

        
             function checkUser(event){

                 event.preventDefault();

                 xrq = new XMLHttpRequest();

                 xrq.onload = function(){

                     console.log(JSON.parse(this.responseText).validity );


                     if(JSON.parse(this.responseText).validity == true){


                         myForm.submit();

                     
                     } else if(JSON.parse(this.responseText).validity == false) {
                         
                         errorMsg.innerHTML = "mauvaise combinaison mot de passe/identifiant";



                     }




                 }


                 xrq.open('POST', '{{ path("loginCheckPath")}}', true);

                 xrq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


                 xrq.send("userMail=" + userMail.value + "&userPass=" + userPass.value);

             }


             function initErrorMsg(){


                 errorMsg.innerHTML = "";



             }


        {% endblock %}

     