{% extends 'base.html.twig' %}


 {% block stylesheets %}


 <style>



     #bgDiv{

         height: 90vh;

         width: 100vw;

         display: flex;

         justify-content: flex-end;

         padding-right: 10%;

     }


      #formDiv{


          height: 60%;
          
          width: 40%;

          display: flex;

          justify-content: center;

          align-items: center;



          margin-top: 20vh;


      }


      #myForm{


          display: flex;

          flex-direction: column;

          align-items: center;

          justify-content: center;


          width: 100%;



      }

      
      #myForm div{

          height: 80px;


      }

      
      
      #myForm div input{

          width: 100%;

          height: 50px;

          border-radius: 25px;

          border: none;          


      }

      #scientistImg2{

          position: fixed;

          top: 45vh;

          left: 25vw;

          height: auto;

          width: 10vw;
      }
      

      #bubbleImg{

          position: fixed;

          top: 25vh;

          left: 30vw;

          width: 10vw;

          height: auto;
      }




   
  @media all and (max-width: 375px){
      #scientistImg2{

          position: fixed;

          height: 20vh;

          width: auto;

          top: 37vh;

          left: 3vw;
      }

      
      #bubbleImg{

          position: fixed;

          top: 9.3vh;

          left: 21vw;

          width: 50px;

          height: auto;
      }



  }




 </style>


 {% endblock %}



{% block body %}


 
 <img id='scientistImg2'src='{{ asset("images/scientist2.png") }}'> 

 <img id='bubbleImg' src='{{ asset("images/bubble.png") }}'> 




 <div id='bgDiv'>

    <div id='formDiv'>

     <form id="myForm" action= "{{ path('loginPath') }}" method='post'>

         <div class = 'form-group'>
             <input onkeyup="initErrorMsg()" id='userMail' type='text' placeholder='username' required name='_username'>
          </div>

          
         <div class = 'form-group'>
             <input onkeyup="initErrorMsg()" id='userPass' type='password' placeholder='password' required name='_password'>
          </div>



          <div class = 'form-group'>
               <button type = 'submit' class = 'btn btn-success' onclick='checkUser(event)'>Accéder à votre labo</button>
          </div>



    </form>



    <div id="errorMsg" style='color:red' ></div>

  </div>
</div>


{% endblock %}



        {% block javascripts %}

        var myForm = document.getElementById("myForm");

        var userMail = document.getElementById("userMail");

        var userPass = document.getElementById("userPass");

        var errorMsg = document.getElementById("errorMsg");

        
             function checkUser(event){

                 event.preventDefault();

                 xrq = new XMLHttpRequest();

                 xrq.onload = function(){

                     console.log(JSON.parse(this.responseText).validity );


                     if(JSON.parse(this.responseText).validity == true){


                         myForm.submit();

                     
                     } else if(JSON.parse(this.responseText).validity == false) {
                         
                         errorMsg.innerHTML = "mauvaise combinaison mot de passe/identifiant";



                     }




                 }


                 xrq.open('POST', '{{ path("loginCheckPath")}}', true);

                 xrq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


                 xrq.send("userMail=" + userMail.value + "&userPass=" + userPass.value);

             }


             function initErrorMsg(){


                 errorMsg.innerHTML = "";



             }


        {% endblock %}

     