{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <form id= 'registerForm'>

  <label>Mail</label> </br>

  <input type='email' name='email'> </br>

  
  <label>Mot de passe</label> </br>

  <input id = 'myPassword' type='text' name='myPassword' onkeyup = 'initErrorMsg()'> </br>
  
  <label>Confirmer le mot de passe </label> </br>

  <input id= 'confirm_password' type='text' name='confirm_password' onkeyup = 'initErrorMsg()'> </br>


  <input type='submit' value='créer un compte'>

  </br>

  <h5 style='color:red' id='errorMsg'></h5>





  </form>

{% endblock %}


{% block javascripts %}
  
  <script>
  var errorMsg = document.getElementById('errorMsg');

  var form = document.getElementById('registerForm');

  var mypassword = document.getElementById("myPassword") ;
  var confirm_password = document.getElementById("confirm_password");
 

 form.addEventListener('submit', function(e){

     if(mypassword.value != confirm_password.value){

     e.preventDefault();

     errorMsg.innerHTML = 'error';



     }



 });

 
     function initErrorMsg(){

          errorMsg.innerHTML = '';

     }


   </script>

{%endblock%}

