{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<style>
   #bgDiv{

     height: 92.6vh;

     width: 100%;


     display:flex;

     flex-direction:row;
   }

  
   #leftDiv{


     height: 100%;

     width: 58%;

     background: #181d42;



   }

   
   #leftDiv img{

     height: 100%;

     width: auto;

   }




   #rightDiv{


     background: #181d42;

     height: 100%;

     width: 42%;

     display: flex;

     justify-content: flex-end;

     padding-top: 25px;


   }


   #insideRightDiv{
        
        height: 63%;

        width: 350px;

        padding: 60px;

        margin-right: 30px;

        border-radius: 15px;

   }

   #insideRightDiv input{
        
        border-radius: 12px;

        border: none;

        width: 100%;

        outline: none;

        height: 30px;

  

   }


   #registerForm{

     width: 100%;

     height: 100%;

     display: flex;

     flex-direction: column;

     justify-content: space-between;

   }

   #registerForm div{
     
     height: 25px;
   }


</style>

 <div id='bgDiv'>


 <div id='leftDiv'>

       <img src='{{ asset("images/chemical.webp") }}'> 

 </div>


  <div id='rightDiv'>




  <div id='insideRightDiv'>


  <form id= 'registerForm' method = 'post'>
   
    <div>
      <input id='userMail' placeholder='mail' required name='email'  onkeyup = 'initErrorMsg()'> </br>
     </div>


  <div>
     <input type = 'password' id = 'myPassword' type='text' name='myPassword' placeholder='Mot de passe'  onkeyup = 'initErrorMsg()'> </br>
  </div>

  <div>
     <input type = 'password' id= 'confirm_password' placeholder='Confirmez votre mot de passe' type='text' name='confirm_password' onkeyup = 'initErrorMsg()'> </br>
  </div>

  <div>
     <input style='margin-top: 10%' onclick='checkForm(event)' type='submit' value='créer un compte' name= 'btnSubmit'>
  </div>
  </br>


  </form>

    <p style='color:red' id='passErrorMsg'></p>

    <p style='color:red' id='userNameErrorMsg'></p>

    <p style='color:red' id='emptyFieldsMsg'></p>

    <p style='color:red' id='invalidMailMsg'></p>
  

     </div>

   </div>

</div>


{% endblock %}


{% block javascripts %}

  var userMail = document.getElementById('userMail')
  
  var passErrorMsg = document.getElementById('passErrorMsg');

  var userNameErrorMsg = document.getElementById('userNameErrorMsg');

  var emptyFieldsMsg = document.getElementById('emptyFieldsMsg');
  
  var invalidMailMsg = document.getElementById('invalidMailMsg');



  var registerForm = document.getElementById('registerForm');
  var mypassword = document.getElementById("myPassword") ;
  var confirm_password = document.getElementById("confirm_password");
 


  function checkForm(event){

     event.preventDefault();

   if(mypassword.value.length == 0 || userMail.value.length == 0  || confirm_password.value.length == 0 ){
    
    emptyFieldsMsg.innerHTML = 'Veuillez remplir tous les champs!';

    return false;

    
   }


   if(validateEmail(userMail.value) == false){

    invalidMailMsg.innerHTML = 'veuillez saisir votre mail au format "exemple@mail.fr"';

    return false;
    
   }


     if(mypassword.value != confirm_password.value){

     passErrorMsg.innerHTML = 'Mot de passe non identique';

         return false;


     }

     xrq = new XMLHttpRequest();

     xrq.onload = function(){

       if(JSON.parse(this.responseText).mailUsed == true){

          userNameErrorMsg.innerHTML = 'utilisateur déjà utilisé';

        } else if(JSON.parse(this.responseText).mailUsed == false){
            
                 registerForm.submit();

            
         }

    }

     xrq.open('POST', '{{ path("checkUsersPath") }}', true);
 
    xrq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


    xrq.send('userMail=' + userMail.value);


 };

 
     function initErrorMsg(){

            passErrorMsg.innerHTML = '';

            userNameErrorMsg.innerHTML = '';

            emptyFieldsMsg.innerHTML = '';

            invalidMailMsg.innerHTML = '';

     }



   function validateEmail(email) 
    {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }
    



{%endblock%}

